<h1>Welcome to Software Project.</h1>

<div>
    <% if current_user %>
        <p>Name: <%= current_user.name %></p>
        <p>Email: <%= current_user.email_address %></p>
    <% end %>
    
    <%# if isEmployee%>
        <p>You are an Employee</p>
    <%# end %>
</div>
